<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		<title>WEBplug</title>
	</head>
	<body>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<h1>User Management</h1>
		
		<table>
            <!-- database: need to actually list users here -->
			<tr><th>Name</th><th>Role</th><th>Change password</th><th>Delete</th><th>Change role</th></tr>
			{% for user in users %}
                <tr><td>{{ user.username }}</td><td>{% if user.is_admin %} Administrator {% else %} User {% endif %}</td><td><a href="/admin_change_password/1" >Change password</a></td><td><form method="post" action="/delete_user"><input type="hidden" name="user_id" value="{{ user.id }}" /><input type="submit" value="Delete" /></form></td><td><form method="post" action="/toggle_admin"><input type="hidden" name="user_id" value="{{ user.id }}" /><input type="submit" value="{% if user.is_admin %} Remove Admin {% else %} Make Admin {% endif %}"/></form></td></tr>
            {% endfor %}
		</table>
	</body>
</html>


