<!DOCTYPE html>
<html>
	<head>
        {% include 'includes.html' %}
		
		<title>WEBplug</title>
	</head>
	<body>
    <div class="container">
		{% include 'header_bar.html' %}
		{% include 'flashes.html' %}
		
		<h1>Change Password</h1>
		<p><a href="{{ url_for('admin') }}">Back to Users</a></p>
		<table class="table table-bordered">
			<form method="post" action="/admin_change_password">
				<tr><td><label>New password: <input type="password" name="password" /></label></td></tr>
				<tr><td><label>Confirm new password: <input type="password" name="password2" /></label></td></tr>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
				<tr><td><input type="submit" value="Change password" /></td></tr>
			</form>
		</table>
    </div>
	</body>
</html>



