<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		<title>WEBplug</title>
	</head>
	<body>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<h1>Your Devices</h1>
		
		<table>
			<tr><th>Name</th><th>Plug</th><th>Status</th></tr>
            {% for plug_socket in query %}
			<tr>
                <td>
                    <p>{%if plug_socket.name != None %}{{ plug_socket.name }}{% else %} <i>Unnamed device</i> {% endif %}</p>
                    <p><a href="/rename_device/{{ plug_socket.id }}"><small>{%if plug_socket.name != None %}Change name{% else %}Set name{% endif %}</small></a></p>
                </td>
                <td>{{ plug_socket.plug_id }}</td>
                <td>
                    <p>

                        {% if plug_socket.status == 1 %}
                            <img src="{{ url_for('static', filename='img/green_dot.svg') }}" height="12" width="12"/> On
                        {% elif plug_socket.status == 0 %}
                            <img src="{{ url_for('static', filename='img/red_dot.svg') }}" height="12" width="12"/> Off
                        {% else %}
                            Unknown
                        {% endif %}

                    </p>
                    <form method="post" action="/toggle">
                        <input type="hidden" name="host" value="{{ plug_socket.host_id }}" />
                        <input type="hidden" name="plug" value="{{ plug_socket.plug_id }}" />
                        <input type="submit" value="Toggle"/>
                    </form>
			    </td>
            </tr>
            {% endfor %}
		</table>
        {% if session['is_admin'] %}
            <p><a href="{{ url_for('admin') }}">Manage users</a></p>
        {% endif %}
	</body>
</html>

