<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		<title>WEBplug</title>
	</head>
	<body>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<h1>Your Devices</h1>
		
		<table>
			<tr><th>Name</th><th>Host</th><th>Plug</th><th>Status</th></tr>
			<tr><td>Kettle</td><td>Worker 1</td><td>1</td><td><p>On</p>
				<form method="post" action="/toggle">
					<input type="hidden" name="host" value="1" />
					<input type="hidden" name="plug" value="1" />
					<input type="submit" value="Toggle"/>
				</form>
			</td></tr>
			<tr><td>TV</td><td>Worker 1</td><td>2</td><td><p>Off</p><button type="button" formaction="/toggle/1/2">Switch On</button></td></tr>
		</table>
	</body>
</html>

